<section class="section about" id="How it’s made?">
    <!-- <picture>
        <source media="(min-width: 1280px)" srcset="./images/milk-desktop1x.png 1x, ./images/milk-desktop2x.png 2x">
        <source media="(max-width: 480px)" srcset="./images/milk-mobile1x.png 1x, ./images/milk-mobile2x.png 2x">
        <img class="about__img-milk" src="./images/milk-mobile1x.png" alt="milk splashes">
    </picture> -->
    <div class="container container-about">
        <p class="about__title-lable">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__wrap">
            <picture>
                <source media="(min-width: 1280px)" srcset="./images/Cow-desktop1x.png 1x, ./images/Cow-desktop2x.png 2x">
                <source media="(min-width: 768px)" srcset="./images/Cow-tablet1x.png 1x, ./images/Cow-tablet2x.png 2x">
                <source media="(max-width: 480px)" srcset="./images/Cow-mobile1x.png 1x, ./images/Cow-mobile2x.png 2x">
                <img class="about__img" src="./images/Cow-mobile1x.png" alt="photo of a cute cow next to a jar of milk"
                    width="280" height="279">
            </picture>
            <div class="about__text-wrap">
                <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                    faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__text about__text--grey">Curabitur lacinia enim at ex blandit, vel pellentesque odio
                    elementum. Mauris rhoncus orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.
                    <br>
                    <br>

                    Aliquam erat volutpat. Aenean accumsan.
                </p>

                <button data-modal-open class="about__btn" type="button">Read more</button>

            </div>

        </div>


        <div data-modal class="backdrop is-hidden">
            <div class="modal">
                <button data-modal-close type="button" class="modal__button-close">
                    <svg class="modal__icon" width="18" height="18">
                        <use href="././images/icons.svg#icon-buttonclose"></use>
                    </svg>
                </button>

                <h3 class="modal__title" > Best milk from best <br> cows</h3>
                <ul>
                    <li><p class="modal__text"><span class="modal__number">1</span> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Similique suscipit rem corrupti doloremque recusandae dolorem consequatur molestiae dolores, eligendi facilis sed,
                        natus ab sapiente nostrum!</li>
                    <li><p class="modal__text"><span class="modal__number">2</span>Consectetur, laborum sint asperiores ratione repudiandae
                        debitis perferendis ad ullam fuga numquam incidunt corporis!
                        Minus modi sequi rem incidunt accusantium dolorum officia error exercitationem soluta earum quis cupiditate hic quo
                        odit
                        obcaecati aperiam neque, ad aliquam illo odio voluptas tempora quasi quia cum!</p></li>
                    <li><p class="modal__text"> <span class="modal__number">3</span>Praesentium in at est beatae omnis tempore id ipsam amet
                        porro suscipit tempora, nesciunt ad dolore nobis aspernatur
                        velit quo odio deleniti? Molestiae reprehenderit blanditiis, maxime atque magni, laborum culpa quos iusto a aliquid
                        possimus eaque placeat ea deleniti soluta. Corporis consequuntur illo provident exercitationem praesentium facere
                        tempora, earum sint esse.</p></li>
                    <li><p class="modal__text"><span class="modal__number">4</span>Similique veniam ipsam, a illum quos ut quis, rerum animi
                        laudantium repudiandae libero omnis ea sit est dignissimos
                        architecto aperiam iste saepe non qui blanditiis consectetur? Labore aspernatur quisquam velit amet deleniti, nihil
                        similique assumenda eligendi veniam nemo quia doloribus unde at odit placeat rem obcaecati architecto corporis non
                        libero?</p></li>
                </ul>
               
                   
                    
                  
            </div>
        </div>
    </div>
</section>